In [120]:
import pandas as pd
import numpy as np

In [121]:
data = pd.read_csv('Walmart_data.csv')
data.shape

(10051, 11)

In [122]:
data.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [123]:
data.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

**Step 1 - Data Cleaning**

In [125]:
duplicates = data.duplicated().sum()
print(duplicates)

51

In [126]:
#remove duplicates
data.drop_duplicates(inplace=True)

In [127]:
print(data.duplicated().sum()) #no duplicates

0

In [128]:
data.nunique()

invoice_id        10000
Branch              100
City                 98
category              6
unit_price         1008
quantity             10
date               1460
time               1001
payment_method        3
rating               62
profit_margin         6
dtype: int64

In [130]:
data.dropna(inplace=True)

In [129]:
#null values
null_values = data.isnull().sum()
print(null_values)   #There are total 62 null values in the dataset

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [135]:
data.shape

(9969, 12)

In [132]:
data['unit_price'] = data['unit_price'].str.replace('$', ' ').astype(float)

In [134]:
data['total'] = data['unit_price']*data['quantity']

In [139]:
data.columns
data.columns.str.lower()

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [140]:
data.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [141]:
data.to_csv('walmart.csv', index=False)

Export data to RDBMS

In [142]:
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:zpjtvks8@localhost/Walmart Sales'
db = create_engine(conn_string)
conn = db.connect()

In [143]:
data = pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\Project-Walmart\walmart.csv")

# Save the DataFrame to the database
data.to_sql('walmart', con=conn, if_exists='replace', index=False)

969